<!-- navbar start -->
<nav id="navbar">
    <div class="ui top fixed borderless menu">
        <div class="ui container">
            <a href="../index.aspx" class="header item">CSIM Booker</a>
            <div class="right menu" id="cm-menu">
                <a href="post-page.aspx" class="item">刊登教材</a>
                <a href="borrow-page.aspx" class="item">借閱教材</a>
                <div class="ui dropdown item">
                    <img class="ui avatar image" src="<%= avatar %>">&nbsp;<%= name %>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="personal-page.aspx" class="item"><i class="user circle icon"></i>個人資料</a>
                        <a href="message-page.aspx" class="item"><i class="alarm icon"><div class="floating ui red label">22</div></i>通知訊息</a>
                        <a href="history-page.aspx" class="item"><i class="cube icon"></i>歷史紀錄</a>
                        <a href="borrowing-page.aspx" class="item"><i class="book icon"></i>借閱中書籍</a>
                        <a href="renting-page.aspx" class="item"><i class="road icon"></i>出租中書籍</a>
                        <div class="ui divider"></div>
                        <a href="opinion-page.aspx" class="item"><i class="talk icon"></i>意見反應</a>
                        <a href="report-page.aspx" class="item"><i class="remove user icon"></i>檢舉專區</a>
                        <div class="ui divider"></div>
                        <a href="logout.aspx" class="item"><i class="sign out icon"></i>登出</a>
                    </div>
                </div>
            </div>
            <div class="right menu" id="rwd-menu">
                <div class="ui dropdown item">
                    <i class="sidebar icon"></i>
                    <div class="menu">
                        <a href="post-page.aspx" class="item">刊登教材</a>
                        <a href="borrow-page.aspx" class="item">借閱教材</a>
                        <div class="divider"></div>
                        <a href="personal-page.aspx" class="item"><i class="user circle icon"></i>個人資料</a>
                        <a href="message-page.aspx" class="item"><i class="alarm icon"><div class="floating ui red label">22</div></i>通知訊息</a>
                        <a href="history-page.aspx" class="item"><i class="cube icon"></i>歷史紀錄</a>
                        <a href="borrowing-page.aspx" class="item"><i class="book icon"></i>借閱中書籍</a>
                        <a href="renting-page.aspx" class="item"><i class="road icon"></i>出租中書籍</a>
                        <div class="ui divider"></div>
                        <a href="opinion-page.aspx" class="item"><i class="talk icon"></i>意見反應</a>
                        <a href="report-page.aspx" class="item"><i class="remove user icon"></i>檢舉專區</a>
                        <div class="ui divider"></div>
                        <a href="logout.aspx" class="item"><i class="sign out icon"></i>登出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- navbar end -->